In [1]:
#Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.options.display.max_rows = 120
pd.options.display.max_columns = 50

In [3]:
#Loading the dataset into a data frame
products_df = pd.read_csv('../data/fashion dataset.csv')
brand_df = pd.read_csv('../data/fashion brand details.csv')

# 1. Understanding the datasets

In [4]:
products_df.head(5)

,p_id,name,price,colour,brand,ratingCount,avg_rating,description,p_attributes
0,1518329.0,Dupatta Bazaar White Embroidered Chiffon Dupatta,899.0,White,Dupatta Bazaar,1321.0,4.548827,White embroidered&nbsp;dupattaChiffon<br>Hand-...,"{'Occasion': 'Daily', 'Pattern': 'Embroidered'..."
1,5829334.0,Roadster Women Mustard Yellow Solid Hooded Swe...,1199.0,Mustard,Roadster,5462.0,4.313255,"Mustard yellow solid sweatshirt, has a hood, t...","{'Body Shape ID': '443,424,324', 'Body or Garm..."
2,10340119.0,Inddus Peach-Coloured & Beige Unstitched Dress...,5799.0,Peach,Inddus,145.0,4.068966,Peach-Coloured and beige woven design unstitch...,"{'Bottom Fabric': 'Cotton Blend', 'Bottom Patt..."
3,10856380.0,SASSAFRAS Women Black Parallel Trousers,1499.0,Black,SASSAFRAS,9124.0,4.147523,"Black solid woven high-rise parallel trousers,...","{'Add-Ons': 'NA', 'Body Shape ID': '424', 'Bod..."
4,12384822.0,Kotty Women Black Wide Leg High-Rise Clean Loo...,1999.0,Black,Kotty,12260.0,4.078467,"Black dark wash 4-pocket high-rise jeans, clea...","{'Add-Ons': 'NA', 'Brand Fit Name': 'NA', 'Clo..."

In [5]:
brand_df.head(5)

   brand_id   brand_name
0         1          513
1         2         109F
2         3    20Dresses
3         4  250 Designs
4         5         3Pin

In [6]:
products_df.tail(5)

,p_id,name,price,colour,brand,ratingCount,avg_rating,description,p_attributes
14324,17029604.0,The Chennai Silks Pink & Silver-Toned Floral Z...,3999.0,Pink,The Chennai Silks,NaN,NaN,<b>Design Details </b><ul><li>Pink and silver-...,"{'Better Cotton Initiative': 'Regular', 'Blous..."
14325,17600212.0,Kinder Kids Girls Blue & Green Printed Foil Pr...,2050.0,Blue,Kinder Kids,NaN,NaN,"Blue and green printed lehenga choli, has foi...","{'Blouse Closure': 'NA', 'Blouse Fabric': 'Cot..."
14326,18159266.0,KLOTTHE Women Green & Black Floral Printed Pal...,1659.0,Green,KLOTTHE,NaN,NaN,<ul> <li> Green and black woven palazzos </li>...,{'Body or Garment Size': 'To-Fit Denotes Body ...
14327,18921114.0,InWeave Women Red Printed A-Line Skirt,2399.0,Red,InWeave,NaN,NaN,"<p>Red printed A-line skirt, has drawstring cl...","{'Add-Ons': 'NA', 'Body Shape ID': '324,333,42..."
14328,19361058.0,BoStreet Women Navy Blue Tapered Fit Trousers,2599.0,Navy Blue,BoStreet,NaN,NaN,<ul> <li> Navy blue knitted trousers </li> <li...,"{'Add-Ons': 'NA', 'Body Shape ID': '443,333,42..."

In [7]:
products_df.tail(5)

,p_id,name,price,colour,brand,ratingCount,avg_rating,description,p_attributes
14324,17029604.0,The Chennai Silks Pink & Silver-Toned Floral Z...,3999.0,Pink,The Chennai Silks,NaN,NaN,<b>Design Details </b><ul><li>Pink and silver-...,"{'Better Cotton Initiative': 'Regular', 'Blous..."
14325,17600212.0,Kinder Kids Girls Blue & Green Printed Foil Pr...,2050.0,Blue,Kinder Kids,NaN,NaN,"Blue and green printed lehenga choli, has foi...","{'Blouse Closure': 'NA', 'Blouse Fabric': 'Cot..."
14326,18159266.0,KLOTTHE Women Green & Black Floral Printed Pal...,1659.0,Green,KLOTTHE,NaN,NaN,<ul> <li> Green and black woven palazzos </li>...,{'Body or Garment Size': 'To-Fit Denotes Body ...
14327,18921114.0,InWeave Women Red Printed A-Line Skirt,2399.0,Red,InWeave,NaN,NaN,"<p>Red printed A-line skirt, has drawstring cl...","{'Add-Ons': 'NA', 'Body Shape ID': '324,333,42..."
14328,19361058.0,BoStreet Women Navy Blue Tapered Fit Trousers,2599.0,Navy Blue,BoStreet,NaN,NaN,<ul> <li> Navy blue knitted trousers </li> <li...,"{'Add-Ons': 'NA', 'Body Shape ID': '443,333,42..."

In [8]:

products_df.sample(5)

,p_id,name,price,colour,brand,ratingCount,avg_rating,description,p_attributes
12006,14497892.0,Clora Creation Women Pack Of 2 Knitted Ethnic...,2399.0,Navy Blue,Clora Creation,NaN,NaN,<ul><li>Pack Of &nbsp;2Navy blue and pink knit...,{'Body or Garment Size': 'To-Fit Denotes Body ...
7146,17442600.0,Tokyo Talkies Maroon Tiered Top,999.0,Maroon,Tokyo Talkies,103.0,4.407767,<ul> <li> Maroon regular tiered top </li> <li>...,"{'Body Shape ID': '333,424', 'Body or Garment ..."
7171,16124584.0,MANGO Women Charcoal Grey Straight Fit High-Wa...,3590.0,Charcoal,MANGO,5.0,3.800000,<ul><li>Charcoal grey knitted trousers</li><li...,"{'Add-Ons': 'NA', 'Body Shape ID': '324,424', ..."
11140,17903922.0,Aawari Women Red Floral Printed High-Rise Trou...,899.0,Red,Aawari,NaN,NaN,<ul> <li> Red knitted parallel </li> <li> Regu...,"{'Add-Ons': 'NA', 'Body Shape ID': '424', 'Bod..."
6123,16585050.0,Safaa Women Pink Woven Design Unstitched Dress...,2899.0,Pink,Safaa,NaN,NaN,Pink woven design unstitched dress material<br...,"{'Better Cotton Initiative': 'Regular', 'Botto..."

In [9]:
# View empty rows
products_df.isna().all(axis=1).sum()

18

In [10]:
#Dropping all empty rows
products_df.dropna(axis=0, how='all', inplace=True)
products_df.isna().all(axis=1).sum()

0

In [11]:
products_df.reset_index(drop = True, inplace = True)
products_df.shape

(14311, 9)

In [12]:
# Separating the p_features column.
pattrib_df = products_df[['p_attributes']]
products_df.drop(['p_attributes'], axis = 1, inplace = True)


print(pattrib_df.head(2))
print(products_df.head(2))

                                        p_attributes
0  {'Occasion': 'Daily', 'Pattern': 'Embroidered'...
1  {'Body Shape ID': '443,424,324', 'Body or Garm...
        p_id                                               name   price  \
0  1518329.0   Dupatta Bazaar White Embroidered Chiffon Dupatta   899.0
1  5829334.0  Roadster Women Mustard Yellow Solid Hooded Swe...  1199.0

    colour           brand  ratingCount  avg_rating  \
0    White  Dupatta Bazaar       1321.0    4.548827
1  Mustard        Roadster       5462.0    4.313255

                                         description
0  White embroidered&nbsp;dupattaChiffon<br>Hand-...
1  Mustard yellow solid sweatshirt, has a hood, t...

In [13]:
def split_col(df):
    """
    Split a the first column in the DataFrame into a list of dictionaries.
    The contents of the column are dictionary-like strings.

    Parameters:
        df (pandas.DataFrame): The DataFrame to split.

    Returns:
        list[dict]: A list of dictionaries, each representing a row of the input DataFrame.
    """
    lst = []

    # Iterate over the rows of the DataFrame
    for i, row in df.iterrows():
        # Check if the first column of the row is a string
        if isinstance(row[0], str):
            # If it is a string, try to evaluate it as a Python expression
            try:
                lst.append(eval(row[0]))
            # If the evaluation fails, just skip this row
            except Exception:
                continue
        else:
            lst.append({})

    # Return the list as a new DataFrame
    return pd.DataFrame(lst)

In [14]:
# Calling the column splitting function
split_df = split_col(pattrib_df)
# print(split_df.head(5))
# print(split_df.shape)

In [15]:
split_df.shape

(14311, 106)

In [16]:
def get_columns_to_drop(df, threshold):
    """Get the names of the columns with a high percentage of missing values.

    Parameters:
        df (pandas.DataFrame): The input DataFrame.
        threshold (float): The threshold for the percentage of missing values. Columns with a higher
            percentage of missing values will be returned.

    Returns:
        list[str]: A list of column names.
    """
    # Calculate the number of rows in the DataFrame
    num_rows = df.shape[0]

    # Calculate the percentage of missing values in each column
    null_percentages = df.isnull().mean()

    # Return the names of the columns with a percentage of missing values above the threshold
    return null_percentages[null_percentages > threshold].index.tolist()



# Drop columns where the percentager of NaN values is greater than 55%
split_df.drop(columns=(get_columns_to_drop(split_df, 0.45)), inplace=True)
split_df.head(2)

,Occasion,Pattern,Print or Pattern Type,Body or Garment Size,Closure,Fabric,Length,Number of Pockets,Wash Care,Main Trend,Sustainable
0,Daily,Embroidered,Floral,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Casual,Solid,Solid,To-Fit Denotes Body Measurements in,Zip,Cotton,Regular,2,Machine Wash,NaN,NaN

In [17]:
split_df.shape

(14311, 11)

In [18]:
products_df['brand'] = products_df['brand'].str.upper()
brand_df['brand_name'] = brand_df['brand_name'].str.upper()

In [19]:
products_df.shape

(14311, 8)

In [20]:
# products_df.to_csv('../data/fashion dataset1.csv', sep=',', index=False)
# brand_df.to_csv('../data/fashion brand details1.csv', sep=',', index=False)

# Done understanding the datasets.

# 2. Cleaning and pre-processing.

##### Exported to HIVE to be combined

SQL commands to join the datasets on Ambari HiveQL editor.

'''

CREATE TABLE joined_fashion AS
SELECT F.p_id, F.name, F.price, F.colour, F.rating_count, F.avg_rating, B.brand_id, B.brand_name
FROM fashion_dataset F
LEFT JOIN fashion_brand_details B
ON F.brand = B.brand_name

'''

SQL commands to export the datasets from the database using the command line interface.
Permissions were adjusted to allow the maria_dev user have access to write into the folder.

'''
sudo chmod 777 /home/maria_dev
'''

hive

exit;

'''

INSERT OVERWRITE LOCAL DIRECTORY '/home/maria_dev/output/fashion_datasetJ.csv' 
ROW FORMAT DELIMITED FIELDS TERMINATED BY '\t' SELECT * FROM default.joined_fashion;


'''

The joined dataset was uploaded to hdfs

'''

hdfs dfs -put /home/maria_dev/000000.0 /user/maria_dev/output/

It was then downloaded from AmbariUI

In [21]:
products_df = pd.read_csv('../data/fashion_datasetJ.csv', sep='\t')

products_df

,p_id,name,price,colour,brand,ratingCount,avg_rating,brand_id,brand_name
0,1518329,Dupatta Bazaar White Embroidered Chiffon Dupatta,899.0,White,Dupatta Bazaar,1321.0,4.548827,242.0,Dupatta Bazaar
1,5829334,Roadster Women Mustard Yellow Solid Hooded Swe...,1199.0,Mustard,Roadster,5462.0,4.313255,750.0,Roadster
2,10340119,Inddus Peach-Coloured & Beige Unstitched Dress...,5799.0,Peach,Inddus,145.0,4.068966,389.0,Inddus
3,10856380,SASSAFRAS Women Black Parallel Trousers,1499.0,Black,SASSAFRAS,9124.0,4.147523,783.0,SASSAFRAS
4,12384822,Kotty Women Black Wide Leg High-Rise Clean Loo...,1999.0,Black,Kotty,12260.0,4.078467,482.0,Kotty
...,...,...,...,...,...,...,...,...,...
14306,17029604,The Chennai Silks Pink & Silver-Toned Floral Z...,3999.0,Pink,The Chennai Silks,NaN,NaN,880.0,The Chennai Silks
14307,17600212,Kinder Kids Girls Blue & Green Printed Foil Pr...,2050.0,Blue,Kinder Kids,NaN,NaN,471.0,Kinder Kids
14308,18159266,KLOTTHE Women Green & Black Floral Printed Pal...,1659.0,Green,KLOTTHE,NaN,NaN,475.0,KLOTTHE
14309,18921114,InWeave Women Red Printed A-Line Skirt,2399.0,Red,InWeave,NaN,NaN,404.0,InWeave
14310,19361058,BoStreet Women Navy Blue Tapered Fit Trousers,2599.0,Navy Blue,BoStreet,NaN,NaN,147.0,BoStreet

In [22]:
#merging the fashion dataset dataframe with the splitted dataframe
products_df = pd.concat([products_df, split_df], axis=1, ignore_index = False)
print(products_df.shape)
products_df.tail()

(14311, 20)

,p_id,name,price,colour,brand,ratingCount,avg_rating,brand_id,brand_name,Occasion,Pattern,Print or Pattern Type,Body or Garment Size,Closure,Fabric,Length,Number of Pockets,Wash Care,Main Trend,Sustainable
14306,17029604,The Chennai Silks Pink & Silver-Toned Floral Z...,3999.0,Pink,The Chennai Silks,NaN,NaN,880.0,The Chennai Silks,Festive,Woven Design,Floral,NaN,NaN,NaN,NaN,NaN,Dry Clean,NaN,Regular
14307,17600212,Kinder Kids Girls Blue & Green Printed Foil Pr...,2050.0,Blue,Kinder Kids,NaN,NaN,471.0,Kinder Kids,NaN,NaN,NaN,Garment Measurements in,NaN,NaN,NaN,NaN,NaN,NaN,Regular
14308,18159266,KLOTTHE Women Green & Black Floral Printed Pal...,1659.0,Green,KLOTTHE,NaN,NaN,475.0,KLOTTHE,Western,Printed,Floral,To-Fit Denotes Body Measurements in,Slip-On,Polycotton,Regular,NA,Machine Wash,NA,Regular
14309,18921114,InWeave Women Red Printed A-Line Skirt,2399.0,Red,InWeave,NaN,NaN,404.0,InWeave,Casual,Printed,Floral,To-Fit Denotes Body Measurements in,Drawstring,Viscose Rayon,Maxi,NA,Hand Wash,Ethnic Print,Regular
14310,19361058,BoStreet Women Navy Blue Tapered Fit Trousers,2599.0,Navy Blue,BoStreet,NaN,NaN,147.0,BoStreet,Casual,Solid,Solid,To-Fit Denotes Body Measurements in,Slip-On,Nylon,Regular,NA,Hand Wash,Knits,Regular

In [23]:
products_df.duplicated().sum()

84

In [24]:
products_df.drop_duplicates(inplace=True)
products_df.reset_index(drop=True, inplace=True)
products_df.duplicated().sum()

0

In [25]:
# Separating the description column
desc_df = products_df[['p_id', 'brand_name', 'brand_id', 'name']]
# dropping the description column
products_df.drop(['brand_name', 'brand_id', 'p_id', 'name'], axis = 1, inplace = True)

In [26]:
#Confirming the separation
print(desc_df.head(2))

      p_id      brand_name  brand_id  \
0  1518329  Dupatta Bazaar     242.0
1  5829334        Roadster     750.0

                                                name
0   Dupatta Bazaar White Embroidered Chiffon Dupatta
1  Roadster Women Mustard Yellow Solid Hooded Swe...

In [27]:
products_df.tail(5)

,price,colour,brand,ratingCount,avg_rating,Occasion,Pattern,Print or Pattern Type,Body or Garment Size,Closure,Fabric,Length,Number of Pockets,Wash Care,Main Trend,Sustainable
14222,3999.0,Pink,The Chennai Silks,NaN,NaN,Festive,Woven Design,Floral,NaN,NaN,NaN,NaN,NaN,Dry Clean,NaN,Regular
14223,2050.0,Blue,Kinder Kids,NaN,NaN,NaN,NaN,NaN,Garment Measurements in,NaN,NaN,NaN,NaN,NaN,NaN,Regular
14224,1659.0,Green,KLOTTHE,NaN,NaN,Western,Printed,Floral,To-Fit Denotes Body Measurements in,Slip-On,Polycotton,Regular,NA,Machine Wash,NA,Regular
14225,2399.0,Red,InWeave,NaN,NaN,Casual,Printed,Floral,To-Fit Denotes Body Measurements in,Drawstring,Viscose Rayon,Maxi,NA,Hand Wash,Ethnic Print,Regular
14226,2599.0,Navy Blue,BoStreet,NaN,NaN,Casual,Solid,Solid,To-Fit Denotes Body Measurements in,Slip-On,Nylon,Regular,NA,Hand Wash,Knits,Regular

In [28]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14227 entries, 0 to 14226
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   price                  14226 non-null  float64
 1   colour                 14223 non-null  object
 2   brand                  14221 non-null  object
 3   ratingCount            6538 non-null   float64
 4   avg_rating             6538 non-null   float64
 5   Occasion               13127 non-null  object
 6   Pattern                10421 non-null  object
 7   Print or Pattern Type  9951 non-null   object
 8   Body or Garment Size   10874 non-null  object
 9   Closure                8444 non-null   object
 10  Fabric                 10351 non-null  object
 11  Length                 8203 non-null   object
 12  Number of Pockets      8373 non-null   object
 13  Wash Care              13017 non-null  object
 14  Main Trend             7816 non-null   object
 15  Sustainable            12927 non-null  object
dtypes: float64(3), object(13)
memory usage: 1.7+ MB

In [29]:
products_df.rename(columns={'ratingCount': 'rating_count', 'Print or Pattern Type' : 'pat_type', 'Body or Garment Size': 'size',
       'Closure': 'closure', 'Number of Pockets': 'pockets', 'Wash Care': 'wash_care',
       'Main Trend': 'trend'}, inplace=True)

In [30]:
# Convert datatypes to the correct types
products_df['price'] = products_df['price'].astype('int', errors= 'ignore')
products_df['rating_count'] = products_df['rating_count'].astype('int', errors= 'ignore')

In [31]:
products_df.columns

Index(['price', 'colour', 'brand', 'rating_count', 'avg_rating', 'Occasion',
       'Pattern', 'pat_type', 'size', 'closure', 'Fabric', 'Length', 'pockets',
       'wash_care', 'trend', 'Sustainable'],
      dtype='object')

In [32]:
products_df.head(2)

,price,colour,brand,rating_count,avg_rating,Occasion,Pattern,pat_type,size,closure,Fabric,Length,pockets,wash_care,trend,Sustainable
0,899.0,White,Dupatta Bazaar,1321.0,4.548827,Daily,Embroidered,Floral,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1199.0,Mustard,Roadster,5462.0,4.313255,Casual,Solid,Solid,To-Fit Denotes Body Measurements in,Zip,Cotton,Regular,2,Machine Wash,NaN,NaN

In [33]:
products_df_v1 = products_df.copy()
products_df_v2 = products_df.copy()
products_df_v3 = products_df.copy()

In [34]:
# Imputin NS(Not specified) for empty values in non-numerical columns
for col in products_df_v1.columns:
    if products_df_v1.dtypes[col] == 'object':
        products_df_v1[col].fillna(products_df_v1[col].mode()[0], inplace=True)
    elif products_df_v1.dtypes[col] == 'float':
        products_df_v1[col].fillna(products_df_v1[col].mean(), inplace=True)

In [35]:
# Imputin NS(Not specified) for empty values in non-numerical columns
for col in products_df_v2.columns:
    if products_df_v2.dtypes[col] == 'object':
        products_df_v2[col].fillna('NS', inplace=True)
    elif products_df_v2.dtypes[col] == 'float' and (col not in ['price']):
        products_df_v2[col].fillna(0, inplace=True)
    elif products_df_v2.dtypes[col] == 'float' and (col in ['price']):
        products_df_v2[col].fillna(products_df_v2[col].mean(), inplace=True)

In [36]:
# Imputin NS(Not specified) for empty values in non-numerical columns
for col in products_df_v3.columns:
    if products_df_v3.dtypes[col] == 'object':
        if col not in ['trend', 'pockets', 'Length', 'closure']:
            products_df_v3[col].fillna('NS', inplace=True)
        else:
            products_df_v3[col].fillna(products_df_v1[col].mode()[0], inplace=True)
    elif products_df_v3.dtypes[col] == 'float' and (col not in ['price']):
        products_df_v3[col].fillna(0, inplace=True)
    elif products_df_v3.dtypes[col] == 'float' and (col in ['price']):
        products_df_v3[col].fillna(products_df_v3[col].mean(), inplace=True)

In [37]:
# print(products_df_v1.isnull().sum())
# print(products_df_v2.isnull().sum())
# print(products_df_v3.isnull().sum())

In [38]:
dfs = [products_df_v1, products_df_v2, products_df_v3]

In [39]:
# for df in dfs:
    # df['total_rating'] = df['avg_rating'] * df['rating_count']

In [40]:
# Rounding up avg_rating to the nearest 2 decimal places
for df in dfs:
    df.loc[:,'avg_rating'] = np.round(df.loc[:,'avg_rating'], 1)
    # df.loc[:,'total_rating'] = np.round(df.loc[:,'total_rating'], 2)
    df['rating_count'] = df['rating_count'].astype('int', errors= 'ignore')
    df['price'] = df['price'].astype('int', errors= 'ignore')

In [41]:
dfs[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14227 entries, 0 to 14226
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         14227 non-null  int64
 1   colour        14227 non-null  object
 2   brand         14227 non-null  object
 3   rating_count  14227 non-null  int64
 4   avg_rating    14227 non-null  float64
 5   Occasion      14227 non-null  object
 6   Pattern       14227 non-null  object
 7   pat_type      14227 non-null  object
 8   size          14227 non-null  object
 9   closure       14227 non-null  object
 10  Fabric        14227 non-null  object
 11  Length        14227 non-null  object
 12  pockets       14227 non-null  object
 13  wash_care     14227 non-null  object
 14  trend         14227 non-null  object
 15  Sustainable   14227 non-null  object
dtypes: float64(1), int64(2), object(13)
memory usage: 1.7+ MB

In [42]:
dfs[0].shape

(14227, 16)

# Finished Cleaning

# 3. Exploratory data analysis

In [43]:
# for df in dfs:

#     # Set the style and context of the plot
#     sns.set_style('darkgrid')
#     sns.set_context('talk')

#     # Draw a boxplot for each column
#     sns.boxplot(data=df[['avg_rating']])

#     # Show the plot
#     plt.show()
#     # Draw a boxplot for each column
#     sns.boxplot(data=df[['price']])

#     # Show the plot
#     plt.show()
#     # Draw a boxplot for each column
#     sns.boxplot(data=df[['rating_count']])

#     # Show the plot
#     plt.show()

In [44]:
#Remove outliers

# Replacing outliers in rating_count with median value by IQR method
# We windsorised because we feel the outliers are not errors neither are they missing values.
# We just want to minimise their impact on statical analysis









# for col in ['rating_count', 'avg_rating', 'price']:
#   Q1 = df1[col].quantile(0.25)
#   Q3 = df1[col].quantile(0.75)

#   IQR = Q3 - Q1
#   lower  = Q1 - 1.5 * IQR
#   upper = Q3 + 1.5 * IQR
#   median = df1[col].median()

#   print( lower , upper , median )

#   # print the outlier data 
#   print(df1.loc[(df1[col] < lower) |(df1[col] > upper) , col])

#   # Replace outlier price with median
#   df1.loc[(df1[col] < lower) |(df1[col] > upper), col] = median



# # df_copy = df_copy[df_copy['rating_count'] < 7500]
# # df_copy = df_copy[df_copy['price'] < 15000]
# df_copy = products_df.reset_index(drop=True)
# df_copy1 = df_copy.copy()

In [45]:

# #avg rating < 2.0 replace with median
# #ratingCount > 8000 replace with median
# #price > 25000 replace with median
# for df in dfs:
#     for col in ['avg_rating', 'price', 'rating_count']:
#     # Read in a CSV file into a DataFrame

#         #Calculate the median value of the column
#         median = df[col].median()

#         if col == 'avg_rating':
#             # Replace the outlier values with the median value
#             df.loc[df[col] < 2.0, col] = median
#             # df[col].replace(df[df[col] < 2.0], median, inplace=True)
#         elif col == 'price':
#             df.loc[df[col] > 25000, col] = median
#             # df[col].replace(df[df[col] > 25000], median, inplace=True)
#         else:
#             df.loc[df[col] > 7000, col] = median
#             # df[col].replace(df[df[col] > 8000], median, inplace=True)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ].replace(df[df[col] > 8000], median, inplace=True)

In [46]:
# for df in dfs:

#     # Set the style and context of the plot
#     sns.set_style('darkgrid')
#     sns.set_context('talk')

#     # Draw a boxplot for each column
#     sns.boxplot(data=df[['avg_rating']])

#     # Show the plot
#     plt.show()
#     # Draw a boxplot for each column
#     sns.boxplot(data=df[['price']])

#     # Show the plot
#     plt.show()
#     # Draw a boxplot for each column
#     sns.boxplot(data=df[['rating_count']])

#     # Show the plot
#     plt.show()

In [47]:
# for df in dfs:
#     print(df.head())

# # Calculate summary statistics for each column
#     print(df.describe())

In [48]:
# # Drawing the histogram and scatterplot of numerical variables
# for df in dfs:
#     pd.plotting.scatter_matrix(df, figsize=(10, 10))
#     plt.show()

In [49]:
# dfs[0][['brand', 'price']].to_csv('input.csv', index=False)

In [50]:
# # Plot bar plots for each categorical column
# for df in dfs:
#     for column in df.select_dtypes(include='object'):
#         if column not in ['p_id', 'name', 'brand']:
#             df[column].value_counts().plot(kind='bar')
#             plt.show()

In [51]:
# for df in dfs:    
#     corr_p = df['avg_rating'].corr(df['price'])
#     corr_r = df['avg_rating'].corr(df['rating_count'])
#     print(corr_r)
#     print(corr_p)

In [52]:
# df[['price', 'rating_count', 'avg_rating']].to_csv('../data/mapreduce.csv', index=False, header=False)

In [53]:
# from scipy.stats import f_oneway

# # Perform the ANOVA test
# f_valuer, p_valuer = f_oneway(products_df['rating_count'], products_df['avg_rating'])
# f_valuep, p_valuep = f_oneway(products_df['price'], products_df['avg_rating'])

# # Print the results
# print("F-value: ", f_valuer)
# print("P-value: ", p_valuer)

# print("F-value: ", f_valuep)
# print("P-value: ", p_valuep)

In [54]:
# # Compute the pairwise correlations
# corr = dfs[0].corr()

# # Make a heatmap of the correlations
# sns.heatmap(corr, annot=True)

# # Show the plot
# plt.show()

In [55]:
# for df in dfs:
#     print(df.nunique())

In [56]:
# !pip install mrjob

In [57]:
# !python ../python_scripts/mapreduce_script.py ../data/input.csv > ../data/output.csv

In [58]:
# !python ../map.py ../data.csv > ../data/mapreduce_output.csv

!python wordcount.py -r hadoop --hadoop-streaming-jar /path/to/hadoop-streaming.jar $input_path > $output_path

Remember to write the codes to show that you ran it on hadoop streaming and write other codes

# Modification and Transformation

In [59]:
# !pip install category_encoders

df.nunique()
dfs[0].isna().sum()

price           0
colour          0
brand           0
rating_count    0
avg_rating      0
Occasion        0
Pattern         0
pat_type        0
size            0
closure         0
Fabric          0
Length          0
pockets         0
wash_care       0
trend           0
Sustainable     0
dtype: int64

In [60]:
# dfs[0]

In [64]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

data = {'feature1': [0, 1, 0, 1], 
        'feature2': [0, 1, 2, 0],
        'feature3': [3, 0, 1, 2]}
df = pd.DataFrame(data)

enc = OneHotEncoder()
enc.fit(df)

categories = enc.categories_
variable_list = [x[0] for x in categories]
print( enc.categories_)

[array([0, 1]), array([0, 1, 2]), array([0, 1, 2, 3])]

In [71]:
from sklearn.preprocessing import OneHotEncoder
import category_encoders as ce
from sklearn.preprocessing import LabelEncoder

    # Encode the brand variable using one-hot encoding

def encode(df_, target):
    df = df_.copy()
    te = ce.TargetEncoder()
    le = LabelEncoder()

   # Select only the columns with data type 'object'
    object_columns = df.select_dtypes(include=['object', 'category']).columns

    for x in object_columns:
        
        if len(df[x].unique()) <=5 :
            
            
            encoder = OneHotEncoder(sparse=False)  # Set `sparse=True` if you want a sparse matrix
            encoder.fit(df[[x]])
            new_x_lst = encoder.transform(df[[x]])
            categories = np.array(encoder.categories_)
            variable_list = categories.reshape(-1).flatten()
            
            df_new_x = pd.DataFrame(data=new_x_lst, columns=variable_list)
            df.drop(columns = x, axis=1, inplace=True)
            df = pd.concat([df, df_new_x], axis=1, ignore_index = False)
    
        elif 5 < len(df[x].unique()) <= 100:
            
            # Label encoding
            df[x] = le.fit_transform(df[x])
         
            
        else:
            # Target encoding
            df[x] = te.fit_transform(df[x], df[target])
            
    return df

df_target1 = encode(dfs[0], 'avg_rating')

df_target1

/home/codesage/anaconda3/lib/python3.9/site-packages/category_encoders/target_encoder.py:122: FutureWarning: Default parameter min_samples_leaf will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  warnings.warn("Default parameter min_samples_leaf will change in version 2.6."
/home/codesage/anaconda3/lib/python3.9/site-packages/category_encoders/target_encoder.py:127: FutureWarning: Default parameter smoothing will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  warnings.warn("Default parameter smoothing will change in version 2.6."

,price,colour,brand,rating_count,avg_rating,Occasion,Pattern,pat_type,closure,Fabric,Length,pockets,trend,Garment Measurements in,To-Fit Denotes Body Measurements in,Dry Clean,Hand Wash,Machine Wash,Regular,Sustainable
0,899,47,4.150292,1321,4.5,1,4,23,11,6,11,7,29,0.0,1.0,0.0,0.0,1.0,1.0,0.0
1,1199,27,4.206534,5462,4.3,0,10,42,16,6,11,1,29,0.0,1.0,0.0,0.0,1.0,1.0,0.0
2,5799,33,4.060920,145,4.1,1,10,21,11,6,11,7,29,0.0,1.0,1.0,0.0,0.0,1.0,0.0
3,1499,2,4.119008,9124,4.1,0,10,42,12,6,11,7,31,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,1999,2,4.016667,12260,4.1,0,10,42,2,6,5,3,29,0.0,1.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14222,3999,34,4.100000,185,4.1,3,13,23,11,6,11,7,29,0.0,1.0,1.0,0.0,0.0,1.0,0.0
14223,2050,3,4.100000,185,4.1,0,10,42,11,6,11,7,29,1.0,0.0,0.0,0.0,1.0,1.0,0.0
14224,1659,17,3.971429,185,4.1,11,7,23,12,36,11,7,29,0.0,1.0,0.0,0.0,1.0,1.0,0.0
14225,2399,36,4.055263,185,4.1,0,7,23,4,54,8,7,12,0.0,1.0,0.0,1.0,0.0,1.0,0.0
14226,2599,28,4.082796,185,4.1,0,10,42,12,26,11,7,24,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [74]:
df_target2 = df_target1.copy()

# Calculate the minimum and maximum values of the avg_rating column
min_value = df_target2['avg_rating'].min()
max_value = df_target2['avg_rating'].max()

# Calculate the bin size
bin_size = (max_value - min_value) / 5

# Set the bin edges
bins = [min_value, min_value + bin_size, min_value + 2 * bin_size, min_value + 3 * bin_size, min_value + 4 * bin_size, max_value]

# Bin the avg_rating column
df_target2['avg_rating'] = pd.cut(df_target2['avg_rating'], bins=bins)

# # Bin the age column into 4 equal-sized categories
# df_target2['avg_rating'] = pd.qcut(df_target2['avg_rating'], q=4)

le = LabelEncoder()
df_target2['avg_rating'] = le.fit_transform(df_target2['avg_rating'])
df_target2

,price,colour,brand,rating_count,avg_rating,Occasion,Pattern,pat_type,closure,Fabric,Length,pockets,trend,Garment Measurements in,To-Fit Denotes Body Measurements in,Dry Clean,Hand Wash,Machine Wash,Regular,Sustainable
0,899,47,4.150292,1321,4,1,4,23,11,6,11,7,29,0.0,1.0,0.0,0.0,1.0,1.0,0.0
1,1199,27,4.206534,5462,4,0,10,42,16,6,11,1,29,0.0,1.0,0.0,0.0,1.0,1.0,0.0
2,5799,33,4.060920,145,3,1,10,21,11,6,11,7,29,0.0,1.0,1.0,0.0,0.0,1.0,0.0
3,1499,2,4.119008,9124,3,0,10,42,12,6,11,7,31,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,1999,2,4.016667,12260,3,0,10,42,2,6,5,3,29,0.0,1.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14222,3999,34,4.100000,185,3,3,13,23,11,6,11,7,29,0.0,1.0,1.0,0.0,0.0,1.0,0.0
14223,2050,3,4.100000,185,3,0,10,42,11,6,11,7,29,1.0,0.0,0.0,0.0,1.0,1.0,0.0
14224,1659,17,3.971429,185,3,11,7,23,12,36,11,7,29,0.0,1.0,0.0,0.0,1.0,1.0,0.0
14225,2399,36,4.055263,185,3,0,7,23,4,54,8,7,12,0.0,1.0,0.0,1.0,0.0,1.0,0.0
14226,2599,28,4.082796,185,3,0,10,42,12,26,11,7,24,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [76]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Split the dataset into features and target variables
X = df_target1.drop(columns=['avg_rating'], axis=1)
y = df_target1['avg_rating']

# Split the dataset into features and target variables
A = df_target2.drop(columns=['avg_rating'], axis=1)
b = df_target2['avg_rating']

sc = StandardScaler()
X = sc.fit_transform(X)
sc = StandardScaler()
A = sc.fit_transform(A)

# Split the dataset into train and test sets
A_train, A_test, b_train, b_test = train_test_split(A, b, test_size=0.2, random_state=42)


# Split the dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [79]:
# using common scoring parameter for regression
from sklearn.metrics import r2_score, mean_absolute_error , mean_absolute_percentage_error

from sklearn import model_selection

In [80]:
def evaluator(actl , pred):

# Perform evaluation comparison on actual labels vs. predicted amounts in Regression.
    
    r2 = r2_score(actl , pred)
    mae = mean_absolute_error(actl , pred)
    mape = mean_absolute_percentage_error(actl , pred )

    metric = {
                "R2" : round(r2 , 2),
                "mean_absolute_percentage_error" : round( mape , 2),
                "mean_absolute_error": round(mae, 2)
            }
    
    print("model metrics")
    print(f"R2                               : {r2  :0.2f}")
    print(f"mean_absolute_percentage_error   : {mape:0.2f}%")
    print(f"mean_absolute_error              : {mae :0.2f}")

    return metric

In [81]:
def modeller(model, pred_tr , tgt_tr , pred_t):
    model.fit(pred_tr , tgt_tr)
    pred_p = model.predict(pred_t)
    return pred_p

In [82]:
def model_sequencer(models):
  comparator = {}
  for model in models:
    print('========================' + str(type(model).__name__) + '========================\n\n')
    metric = evaluator(y_test ,modeller(model , X_train, y_train , X_test))
    comparator[str(type(model).__name__)] = metric
    
    print('\n\n========================' + str(type(model).__name__) + '========================\n\n')

  return comparator

In [83]:
def model_compr(reg_models):
  comparator = model_sequencer(reg_models)
  return pd.DataFrame(data = comparator.values(), index = comparator.keys())

In [84]:
# using some regression model
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

reg_models = [RandomForestRegressor(), SVR(kernel = 'rbf')]

In [85]:
regression = model_compr(reg_models)

========================RandomForestRegressor========================


model metrics
R2                               : 0.14
mean_absolute_percentage_error   : 0.04%
mean_absolute_error              : 0.14


========================RandomForestRegressor========================


========================SVR========================


model metrics
R2                               : 0.05
mean_absolute_percentage_error   : 0.05%
mean_absolute_error              : 0.18


========================SVR========================

In [86]:
regression

,R2,mean_absolute_percentage_error,mean_absolute_error
RandomForestRegressor,0.14,0.04,0.14
SVR,0.05,0.05,0.18

In [114]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import classification_report

def evaluatorc(actl , pred):

# Perform evaluation comparison on actual labels vs. predicted amounts in Regression.
    
    acc = accuracy_score(actl , pred,)
    pre = precision_score(actl , pred, average = 'weighted')
    recall = recall_score(actl , pred, average = 'weighted' )
    f1= f1_score(actl , pred, average = 'weighted' )
    

    metric = {
                "Acc" : round(acc , 2),
                "pre" : round(pre , 2),
                "recall": round(recall, 2),
                "f1": round(f1, 2)
            }
    
    print("model metrics")
    print(f"accuracy_score    : {acc :0.2f}")
    print(f"precision_score   : {pre :0.2f}%")
    print(f"recall_score      : {recall :0.2f}")
    print(f"f1_score          : {f1 :0.2f}")
    print(classification_report(actl, pred))
    return metric

In [104]:
def model_sequencec(models):
  comparator = {}
  for model in models:
    print('========================' + str(type(model).__name__) + '========================\n\n')
    metric = evaluatorc(b_test ,modeller(model , A_train, b_train , A_test))
    comparator[str(type(model).__name__)] = metric
    
    print('\n\n========================' + str(type(model).__name__) + '========================\n\n')
  return comparator

In [105]:
def model_compc(reg_models):
  comparator = model_sequencec(reg_models)
  return pd.DataFrame(data = comparator.values(), index = comparator.keys())

In [106]:
# RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

class_models = [KNeighborsClassifier(), DecisionTreeClassifier(), GaussianNB()]

In [115]:
classification = model_compc(class_models)

========================KNeighborsClassifier========================

/home/codesage/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
/home/codesage/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/codesage/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/codesage/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/codesage/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

model metrics
accuracy_score    : 0.76
precision_score   : 0.70%
recall_score      : 0.76
f1_score          : 0.72
              precision    recall  f1-score   support

           0       0.00      0.00      0.00         3
           1       0.00      0.00      0.00        10
           2       0.15      0.03      0.04        76
           3       0.80      0.92      0.86      2236
           4       0.35      0.18      0.24       520
           5       0.00      0.00      0.00         1

    accuracy                           0.76      2846
   macro avg       0.22      0.19      0.19      2846
weighted avg       0.70      0.76      0.72      2846



========================KNeighborsClassifier========================


========================DecisionTreeClassifier========================


model metrics
accuracy_score    : 0.77
precision_score   : 0.78%
recall_score      : 0.77
f1_score          : 0.77
              precision    recall  f1-score   support

           0       0.50      0.33      0.40         3
           1       0.06      0.10      0.08        10
           2       0.15      0.16      0.15        76
           3       0.87      0.86      0.87      2236
           4       0.46      0.48      0.47       520
           5       0.00      0.00      0.00         1

    accuracy                           0.77      2846
   macro avg       0.34      0.32      0.33      2846
weighted avg       0.78      0.77      0.77      2846



========================DecisionTreeClassifier========================


========================GaussianNB========================


model metrics
accuracy_score    : 0.71
precision_score   : 0.70%
recall_score      : 0.71
f1_score          : 0.69
              precision    recall  f1-score   support

           0       0.01      0.67      0.02         3
           1       0.00      0.00      0.00        10
           2       0.06      0.04      0.05        76
           3       0.83      0.89      0.86      2236
           4       0.27      0.06      0.10       520
           5       0.00      0.00      0.00         1

    accuracy                           0.71      2846
   macro avg       0.20      0.28      0.17      2846
weighted avg       0.70      0.71      0.69      2846



========================GaussianNB========================

In [116]:
classification

                         Acc   pre  recall    f1
KNeighborsClassifier    0.76  0.70    0.76  0.72
DecisionTreeClassifier  0.77  0.78    0.77  0.77
GaussianNB              0.71  0.70    0.71  0.69